#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build

override_dh_install:
	dh_install --fail-missing --sourcedir=debian/tmp
	install -D -m 0640 $(CURDIR)/debian/swift-utilization-aggregator.conf $(CURDIR)/debian/swift-utilization-aggregator/etc/swift/swift-utilization-aggregator.conf

override_dh_installinit:
	dh_installinit --no-start
	dh_installinit --no-start --name=swift-utilization-aggregator